/***
Layout
***/

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #050824;
  font-weight: 400;
  font-size: 1.1rem !important;
}

.container {
  max-width: 930px;
}

header {
  background-color: #050824;
}

footer {
  height: 200px;
  font-weight: 300 !important;
  background-color: #050824;
}

/***
Typography
***/

a {
  color: #3e63e5;
  font-weight: 600;
}

a:hover {
  color: #3e63e5;
}

b, strong {
  font-style: 700;
}

h2, .h2 {
  color: #E9086B
}

h3, .h3 {
  color: #050824;
  font-weight: 600;
  font-size: 1.4rem;
}

.text-primary {
  color: #3e63e5;
}

.text-secondary {
  color: #E9086B;
}

.text-dark {
  color: #050824;
}

.text-light {
  color: white;
}

pre code, .text-note {
  color: #777;
}

code.highlight {
  color: #3e63e5;
  font-weight: 600;
  background-color: #eee;
}

/***
Others
***/

.code-block {
  border: 1px solid #c4c4c4;
  border-radius: .25rem;
  padding: 10px 25px 8px 25px;
  margin-left: 15px;
}

.img-center {
  display: block;
  margin: 0 auto;
}
